<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Chalhoub::top_level" title="Chalhoub" module="Chalhoub_ShopFinder" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Chalhoub_ShopFinder::chalhoub_shopfinder" title="ShopFinder" module="Chalhoub_ShopFinder" sortOrder="9999" resource="Magento_Backend::content" parent="Chalhoub::top_level" action="chalhoub_shopfinder/shopfinder/index"/>
	</menu>
</config>
